@keyframes rightToLeft {
	0% {
		opacity: 0;
		transform: translateX(100%);
	}

	50% {
		transform: translateX(0);
	}

	100% {
		opacity: 1;
	}
}

@keyframes bottomToTop {
	from {
		opacity: 0;
		transform: translateY(100px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes appearBounce {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes popup {
	from {
		opacity: 0;
		transform: translate(-50%, calc(-50% - 100px));
		display: none;
	}

	to {
		opacity: 1;
		transform: translate(-50%, -50%);
		display: block;
	}
}