/* --- Police d'écriture --- */
$font-family: "Roboto", sans-serif;

/* --- Couleurs --- */
$primary: #e34140;
$secondary: #333333;
$tertiary: #2997ff;
$quaternary: #a6b1b5;

/* --- Espaces --- */
$header-container-width: 80%;
$header-container-width-desktop: 90%;
$section-container-width: 80%;
$section-container-width-tablet: 90%;

/* --- Tailles --- */
$header-height: 45px;
